.App {
  text-align: center;
}

.title-container {

}

.title {
  color: grey;
}

.stats-container {

}

.inst-container {

}

.picker-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chosen {
  height: 60px;
  width: 150px;
  border: 1px solid #AAA;
  margin: auto;
}